.grid-registro{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
    ;
} 
.grid-registro main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 100px 600px;
}

.info-Registro{
    padding: 20px;
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
}
.info-Registro h2{
    font-weight: bolder;
    color: green;
}
.contenedorRegistro{
    display: grid;
    grid-column: 2/3;
    justify-self: center;
    align-self: flex-start;
    padding: 100px;
}

.formularioRegistro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    gap: 20px;
}

.email-registro{
    width: 400px;
    height: 25px;
    border-radius: 5px;
}
.contraseña-registro{
    width: 400px;
    height: 25px;
    border-radius: 5px;
}