@media (max-width: 576px) {
    .grid-contacto{
        width: 576px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
        "header"
        "header"
        "main"
        "main"
        "footer"
        ;
    }

}